.vs/
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/MainWindow.g.cs
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN.csproj.FileListAbsolute.txt
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN.csprojAssemblyReference.cache
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN_MarkupCompile.cache
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN_MarkupCompile.lref
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/MainWindow.g.cs
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/MainWindow.g.i.cs
BOUTAKHOT-DO BARREIRO-LANCMAN/obj/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN.csproj.FileListAbsolute.txt

BOUTAKHOT-DO BARREIRO-LANCMAN/bin/Debug/BOUTAKHOT-DO BARREIRO-LANCMAN.exe
